<!DOCTYPE html>
<html>
  <head>
    <title>TinyUrlApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="main" class="container">
      <div class="message">
        <div id="notice" style="display:none"></div>
       </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
